* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== style for body ==== */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* ==== style for main class ==== */
.main {
  padding: 20px;
}
/* ==== style for container ==== */
.container {
  font-size: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.container p {
  margin-left: 10%;
}
.container button {
  margin-right: 10%;
}
/* ==== style for h1 ==== */
.btn {
  width: auto;
  height: auto;
  border-radius: 5px;
  font-size: 22px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}
/* ==== style for add-btn ==== */
.add-btn {
  border-radius: 50%;
  background-color: blue;
  font-family: serif;
}
.no-item {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 32px;
  font-weight: 100;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  min-height: 200px;
  color: #000;
}

.card h3 {
  margin-bottom: 10px;
  text-align: center;
}

.card p {
  margin-bottom: 20px;
  text-align: center;
}

.card ul {
  padding-left: 20px;
}

.card li {
  margin-bottom: 10px;
}
.card .edit-btn {
  margin-top: 20px;
  margin-left: 30%;
  font-size: 20px;
  background-color: #4caf50;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
}
.card .delete-btn {
  margin-top: 20px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f44336;
  color: #fff;
  font-weight: bold;
}
.card .add-sub-item-btn {
  font-size: 20px;
  color: #fff;
  width: 33px;
  height: 33px;
  font-weight: bold;
  background-color: blue;
  border-radius: 50%;
}

.card .sub-btn {
  width: 25px;
  height: 30px;
}
/* ==== style for popup-container ==== */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.popup h2 {
  margin-bottom: 10px;
}

.popup input,
.popup textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  resize: none;
}

.popup button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.popup #add-card {
  background-color: #4caf50;
  color: white;
}

.popup #cancel {
  background-color: #f44336;
  color: white;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
