* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==== style for body ==== */
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* ==== style for main class ==== */
.main,
#main-2 {
  padding: 10px;
}
/* ==== style for container ==== */
.container,
.container-2 {
  font-size: 30px;
  margin-top: 50px;
  /* display: flex;
  justify-content: space-between; */
}
.add-card-btn {
  position: absolute;
  right: 10%;
  top: 80px;
  margin-bottom: 10px;
}
.container-2 {
  display: none;
}
.container p,
.container-2 p {
  margin-left: 10%;
  color: #fff;
  text-shadow: 2px 1px #a18d8d;
  font-size: 38px;
}
#new-text {
  display: none;
}
.container button,
.container-2 button {
  margin-right: 10%;
}
/* ==== style for h1 ==== */
.container .btn,
.container-2 .btn-2 {
  width: auto;
  height: auto;
  border-radius: 5px;
  font-size: 22px;
  background-color: #000;
  color: #fff;
  border: none;
}
/* ==== style for add-btn ==== */
.container .add-btn img,
.container-2 .add-btn-2 img {
  border-radius: 50%;
  background-color: blue;
  font-family: serif;
}
.no-item {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 32px;
  font-weight: 100;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
}
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(204, 194, 194, 0.846);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  width: 280px;
  color: #000;
}

.card h3 {
  margin-bottom: 10px;
  text-align: center;
}

/* .card p {
  margin-bottom: 20px;
  text-align: center;  
} */

.card ul {
  padding-top: 5px;
  height: 300px;
  overflow-y: auto;
}

.card li {
  margin-bottom: 8px;
  display: flex;
}
.card li span {
  margin-top: 10px;
  width: 50%;
}
.btn-left {
  width: 50%;
}

.card .edit-btn {
  margin-top: 20px;
  margin-left: 30%;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  width: auto;
  height: auto;
  background-color: #fff;
  font-weight: bold;
}
.card .delete-btn {
  margin-top: 20px;
  font-size: 20px;
  width: auto;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  font-weight: bold;
}
.card .add-sub-item-btn {
  font-size: 20px;
  color: #fff;
  width: 33px;
  height: 33px;
  font-weight: bold;
  background-color: blue;
  border-radius: 50%;
}

.card .sub-btn {
  width: 25px;
  height: 30px;
}

#addtask-plus {
  background-image: url(./img/add.jpg);
  background-size: contain;
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  border-radius: 50%;
}
/* ==== style for popup-container ==== */
.popup-container,
.popup2-container,
.popup3-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup,
.popup2,
.popup3 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.popup h2,
.popup2 h2,
.popup3 h2 {
  margin-bottom: 10px;
  color: #ff4800;
}

.popup input,
.popup2 input,
.popup3 input,
.popup textarea,
.popup2 textarea,
.popup3 textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  resize: none;
}

.popup button,
.popup2 button,
.popup3 button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.popup #add-card,
.popup2 #add-item,
.popup3 #add-sub-items {
  background-color: #4caf50;
  color: white;
}

.popup #cancel,
.popup2 #cancel-item,
.popup3 #cancel-sub-items {
  background-color: #f44336;
  color: white;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 70%;
  }
}
@media only screen and (max-width: 380px) {
  .card {
    width: 100%;
  }
}
.editing {
  color: #065c09;
}
.deleting {
  color: red;
}
.done {
  background-color: #fff;
  border: none;
}
.dones {
  border: 1px solid grey;
  color: #fff;
  border-radius: 50%;
}
strong {
  color: rgb(255, 252, 77);
}
