body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#task-input {
  flex-grow: 1;
  padding: 8px;
}

#add-task-btn {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#filter-select {
  margin-left: 10px;
  padding: 8px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-name {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
}

.task-delete-btn {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}
