body {
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}
#heading {
  font-size: 25px;
  color: white;
  font-style: italic;
}
#first-button-set {
  float: right;
}

#addtask-plus {
  background-image: url(./Plus_symbol.svg.png);
  background-size: contain;
  position: relative;
  top: 7px;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-color: white;
}

#addtask {
  background-color: black;
  color: white;
  font-size: 15px;
  font-style: italic;
}
#back {
  display: none;
  position: absolute;
  left: 8px;
  top: 12px;
  background-color: black;
  color: white;
}

#add-new-list-border,
#add-new-item-border {
  border: 2px solid black;
  background-color: cyan;
  height: 100px;
  width: 300px;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 450px;
  padding: 25px;
  display: none;
  z-index: 1;
}

#add-new-list-heading,
#add-new-item-heading {
  color: black;
  text-align: center;
}

#input-of-add-list,
#input-of-add-item {
  text-align: center;
  margin-top: 20px;
  margin-left: 62px;
}

#add-new-list-buttons,
#add-new-item-buttons {
  display: flex;
  justify-content: space-between;
}

#card-title {
  color: blue;
  text-align: center;
  position: relative;
  top: 1.5rem;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 65px;
  color: blue;
}

.card {
  margin: 20px;
  position: relative;
  top: 30px;
  background-color: white;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  text-align: center;
  overflow-y: scroll;
}

.item-content-buttons {
  display: flex;
  position: absolute;
  top: 220px;
  justify-content: space-between;
}

.delete-item-content {
  background-image: url(./WhatsApp\ Image\ 2023-03-30\ at\ 17.00.21.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  position: relative;
  left: 160px;
}

.add-item-content {
  background-image: url(./51767839.webp);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  position: relative;
  left: 180px;
}
.checked {
  text-decoration: line-through;
}

#page2-card-container {
  display: flex;
  flex-wrap: wrap;
}

#page2-back {
  position: absolute;
  top: 25px;
}

.AddItemonpage2 {
  position: absolute;
  top: 25px;
  left: 90%;
}

@media screen and (min-width: 240px) and (max-width: 600px) {
  #add-new-list-border,
  #add-new-item-border {
    position: absolute;
    left: 4%;
    top: 20%;
  }

  #card-container {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100rem;
  }
}
